@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");

$maincolor: #228cdb;
$dark1: #15171a;
$dark2: #1f2938;

* {
  margin: 0;
  font-size: 4vw;
  font-family: "Permanent Marker", cursive;
}
body {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  justify-content: space-between;
  background: $dark2;
  color: $maincolor;
  p {
    margin-left: 2.5vw;
    width: 35vw;
    text-align: left;
    span {
      animation: changecolor 1s linear infinite;
      font-size: 15vw;
      line-height: 0.6;
    }
  }
  .card {
    justify-self: end;
    margin: 2.5vw 2.5vw 2.5vw 2.5vw;
    border-radius: 2vw;
    background: $dark1;
    width: 40vw;
    height: 40vw;
    img {
      width: 40vw;
      height: 40vw;
    }
  }
}
@keyframes changecolor {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}

@media screen and (max-width: 600px) {
  body {
    grid-template-columns: 1fr !important;
    grid-template-rows: 1fr 1fr !important;
  }
  p {
    grid-column: 1/3;
    width: 90vw !important;
    height: 100px !important;
    font-size: xx-large !important;
    height: auto !important;
    span {
      font-size: 23vw !important;
    }
  }
  .card {
    justify-self: start !important;
    width: 60vw !important;
    height: 60vw !important;
    img {
      width: 60vw !important;
      height: 60vw !important;
    }
  }
}
